.hero {
  min-height: 100vh;
  /* min-height: calc(100vh - var(--nav-height)); */

  display: flex;
  align-items: center;

  padding: 5rem;
}

.hero-content {
  width: min(1100px, 100%);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.hero-text {
  flex: 2;
  gap: 1rem;
}

.hero-text h1 {
  font-size: clamp(var(--fs-2xl), 8vw, var(--fs-3xl));
  line-height: 1.2;
}

.hero-text h1 span {
  background-image: var(--gradient-secondary);
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: var(--shadow-glow);
}

.hero-text p {
  color: var(--clr-text-muted);
  max-width: 600px;

  &.hero-tag {
    font-size: var(--fs-lg);
    font-weight: 500;
    background-image: var(--gradient-secondary);
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.hero-description {
  margin-block: 1rem 2rem;
}

.hero-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
}

@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    /* text-align: center; */
  }
}

@media (max-width: 480px) {
  .hero-content {
    text-align: center;
  }
}
